h1{
    padding: 50px 0 0 0;
    text-align: center;
}
h2{
    padding: 0 0 50px 0;
    text-align: center;
}
.col{
    text-align: center;
    margin: 30px 0;
}
.bouton{
    margin: 40px 0;
    text-align-last: center;
}
li{
    text-decoration: none;
    list-style: none;
    color: red;
}
.center{
    text-align: center;
}